/*_________________MUSIC_____________________________________*/
#music-container .row {
    margin: 0 20px 50px 20px;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
  }

  
  .album{
    padding: 15px
  }
  .spotify-wrapper{
    padding: 15px;
  }
  .album-img {
      width: 100%;
      height: auto;
  }
  
  .music-link a {
      color: rgba(0,0,0,.7);
      text-decoration: none;
      font-family: 'Amiko', sans-serif;
      font-size: 1em;
  }
  
  .music-link a:hover {
      text-decoration: none;
  }
  
  .music-links {
      font-size: 13px;
  }
  
  .spotify-wrapper {
      display: flex;
      justify-content: flex-start;
  }
  
  #music-container {
      height: auto;
      width: 100%;
      margin-bottom: 0 !important;
      justify-content: center;
      text-align: center;
  }
  
  @media screen and (max-width: 991px) {
      #music-container {
          width: 100%;
      }
  
      .spotify-wrapper, .album {
          justify-content: center;
      }
  
      #footer-nav {
          margin-top: 0 !important;
      }
  }
  
  @media screen and (max-width: 767px) {
    #music-container .row {
      margin: 0;
    }
  
    .col-sm-12 {
      padding: 5px;
    }
  }
  
  @media screen and (max-width: 550px) {
      #music-container {
          width: 100%;
      }
  }