/*_______________TOUR_____________________________________________*/
#body-content {
	display: grid;
	place-items: center;
}


/* START FOR SEATED */

#seated-55fdf2c0 {
	font-family: 'Work Sans', sans-serif;
	/* color: #464646; */
	color: white;
	width: 100%;
	display: none;
	letter-spacing: .7px;
}

.seated-events-table {
	border-top: none !important;
}

.seated-event-row {
	border-bottom: 1px solid #e026268c !important;
	font-family: 'Work Sans', sans-serif !important;
}

.seated-event-row:hover {
	background-color: #e0262657 !important;
	cursor: default !important;
}

.seated-event-date-cell {
	font-size: .9rem !important;
	font-family: 'Work Sans', sans-serif;
}

.seated-event-link1, .seated-event-link2 {
	color: white !important;
	background-color: #e026268c !important;
	border-radius: 1px !important;
	border: 2px solid #e026268c !important;
	font-size: 11px !important;
	font-weight: 300;
	letter-spacing: 2px !important;
	text-decoration: none !important;
	letter-spacing: 2px;
	line-height: 28px;
}

.seated-event-link1:hover, .seated-event-link2:hover {
	/* color: #fef1b2 !important; */
	background-color: #e0262657 !important;
	border-radius: 1px !important;
	border-color: #e026268c !important;
}

.seated-follow-link {
	color: white !important;
	background-color: #e026268c !important;
	border: 2px solid #e026268c !important;
}

.seated-follow-link:hover {
	/* color: #fef1b2 !important; */
	background-color: #e026268c !important;
	border-color: #e026268c !important;
	border-radius: 1px !important;
	text-decoration: none !important;
}

@media screen and (min-width: 769px) {
	.seated-event-venue-location {
		text-align: center;
	}
}

/* END FOR SEATED */

#tour-container {
	font-family: 'Work Sans', sans-serif;
	color: #464646;
	width: 70%;
    background-color: rgba(0,0,0,0.9);
	justify-content: center !important;
}

#tour-container .row {
	border-top: none !important;
	padding-top: 3.231125%;
	padding-bottom: 3.231125%;
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #eceeef;
	margin: 0;
}

.time {
	font-weight: 700;
	float: left;
	width: 20%;
	font-size: 13px;
	letter-spacing: .5px;
}

.time .evt {
	display: inline-block;
	margin-right: 20px;
}

.venue_name {
	width: 25%;
	padding-right: 25px;
}

.venue_location {
	width: 15%;
}

.venue_name, .venue_location {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: .4px;
}

.event-links {
	width: 40%;
	display: inline-block;
}

.custom-btn {
	float: right;
	margin-left: 5px;
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 1px;
	border: 2px solid #464646;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: .063em;
	text-decoration: none !important;
	padding: 0 12px 0 12px;
	letter-spacing: 2px;
	line-height: 28px;
}

.custom-btn:not(.empty) {
	color: #3a3a3a;
}

.custom-btn.empty {
	color: #eaecef;
	border-color: #eaecef;
}

.custom-btn:hover:not(.empty) {
	color: white;
	background-color: #3a3a3a;
	cursor: pointer;
}

.custom-btn.empty:hover {
	color: #eaecef;
	border-color: #eaecef;
	background-color: white;
}

@media screen and (max-width: 600px) {
	#tour-container {
		width: 95%;
	}

	.time {
		-webkit-box-ordinal-group: 1;
		order: 1;
		float: left;
		flex-basis: auto;
		width: auto;
		margin-bottom: 15px;
		margin-top: 7px;
	}

	.time .evt {
		width: auto;
		height: auto;
		margin-right: 7px;
	}

	.evt {
		width: auto;
		height: auto;
		text-align: none;
	}

	.venue_name, .venue_location {
		float: left;
		flex-basis: auto;
		width: auto;
		line-height: 28px;
	}

	.venue_name {
		-webkit-box-ordinal-group: 2;
		order: 2;
	}

	.venue_location {
		-webkit-box-ordinal-group: 3;
		order: 3;
	}

	.event-links {
		position: absolute;
		right: 0;
		display: block;
		float: none;
		width: auto;
		flex-basis: auto;
		white-space: nowrap;
		text-align: right;
		box-sizing: border-box;
	}

	.custom-btn {
		margin-bottom: 5px;
	}

	#tour-container .row {
		display: flex;
		flex-flow: column-nowrap;
		-webkit-box-pack: start;
		justify-content: flex-start;
		position: relative;
		padding-bottom: 20px;
		flex-direction: column;
		-webkit-box-orient: vertical;
		overflow: visible;
	}
}
